*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
    background:
    linear-gradient(rgba(15,15,15,.65),rgba(15,15,15,.75)),
    url(logo/bg..jpeg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.container{
    width:100%;
    max-width:450px;
    padding:35px;
    text-align:center;

    backdrop-filter:blur(18px);
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.15);
    border-radius:30px;
    box-shadow:0 25px 60px rgba(0,0,0,.45);

    animation:fade 1s ease;
}

.logo{
    width:130px;
    height:130px;
    border-radius:50%;
    object-fit:cover;

    border:5px solid #d4af7a;

    margin-bottom:20px;

    box-shadow:0 0 25px rgba(212,175,122,.5);

    transition:.5s;
}

.logo:hover{

    transform:scale(1.08) rotate(5deg);

}

h1{

    color:#fff;

    font-size:34px;

    margin-bottom:8px;

    font-weight:700;

}

p{

    color:#ddd;

    font-size:15px;

    margin-bottom:35px;

}

.links{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.card{

    display:flex;

    align-items:center;

    justify-content:space-between;

    text-decoration:none;

    color:#fff;

    background:rgba(255,255,255,.10);

    border:1px solid rgba(255,255,255,.15);

    padding:18px 22px;

    border-radius:18px;

    transition:.35s;

}

.card:hover{

    background:#d4af7a;

    color:#111;

    transform:translateY(-5px);

    box-shadow:0 12px 25px rgba(212,175,122,.45);

}

.card i:first-child{

    font-size:22px;

    width:30px;

}

.card span{

    flex:1;

    text-align:left;

    margin-left:15px;

    font-weight:500;

}

.seta{

    transition:.3s;

}

.card:hover .seta{

    transform:translateX(8px);

}

.social{

    margin-top:35px;

    display:flex;

    justify-content:center;

    gap:18px;

}

.social a{

    width:55px;

    height:55px;

    border-radius:50%;

    background:rgba(255,255,255,.12);

    display:flex;

    align-items:center;

    justify-content:center;

    color:#fff;

    font-size:22px;

    transition:.35s;

    text-decoration:none;

}

.social a:hover{

    background:#d4af7a;

    color:#111;

    transform:translateY(-8px);

    box-shadow:0 10px 20px rgba(212,175,122,.45);

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:500px){

.container{

padding:25px;

}

.logo{

width:110px;

height:110px;

}

h1{

font-size:28px;

}

.card{

padding:16px;

}

}